/*-------------------------------------------------整体框架v-------------------------------------------------------*/
/**
    框架整体
 */
.advancedsearch_content_row_left dl dd:hover,.advancedsearch_content_row_right dl dd:hover{
    background: #1e90ff;
}
.advancedsearch_content_row_close{
    color: rgba(12,12,12,0.4);
}
/*主盒子*/
.advancedsearch * {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    transition: 1.75s;
    -moz-transition: 1.75s; /* Firefox 4 */
    -webkit-transition: 1.75s; /* Safari 和 Chrome */
    -o-transition: 1.75s; /* Opera */
    text-decoration: none;
    text-overflow: ellipsis;
    font-size: 14px;
    /*font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "\9ED1\4F53", Arial, sans-serif;*/
}

.advancedsearch a, button {
    cursor: pointer;
    background-color: #fff;
}

.advancedsearch a, button:hover {
    background-color: #e3e3e3;
    opacity: .8;
}
.advancedsearch > div {
    width: 100%;
}

/**
    主盒子
*/
.advancedsearch {
    display: none;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width: 700px;
    height: 400px;
    font-size: 14px;
    overflow: hidden;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #dedede;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000001;
}

/**
    标题盒子
 */
.advancedsearch_title {
    height: 40px;
    cursor: move;
    border-bottom: 1px solid #dedede;
}

/**
    内容盒子
 */
.advancedsearch_content {
    height: calc(100% - 50px - 40px);
    overflow: hidden;
    overflow-y: auto;
    background-color: #fff;
    border-bottom: 1px solid #dedede;
    padding: 10px;
}
/**
    遮罩层
*/
.advancedsearch_cover {
    display: none;
    background-color: #0C0C0C;
    opacity: .2;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
}

/**
    底部控制盒子
 */
.advancedsearch_control {
    height: 50px;
    background-color: #fff;
    text-align: right;
}

/*-------------------------------------------------整体框架^-------------------------------------------------------*/

/*-------------------------------------------------标题部分v-------------------------------------------------------*/
.advancedsearch_title > div {
    height:  40px;
    font-weight: bold;
    display: inline-block;
}
.advancedsearch_title_txt {
    width: calc(100% - 45px);
    font-weight: normal;
    padding:10px;
}
.advancedsearch_close {
    position: relative;
    right: 0px;
    line-height:  40px;
    z-index: 1;
    width: 40px;
    cursor: pointer;
    text-align: center;
}
.advancedsearch_title *{
    cursor: move;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
   not supported by any browser */
}
.advancedsearch_add_search{
    background: #1e90ff;
    color: white;
}
.advancedsearch_close>span {
    cursor: pointer;
    margin-left:calc(100% - ((100% - 4.2rem) - ((100% - 4.2rem) / 10)) - 4.2rem);
}

/*-------------------------------------------------标题部分^-------------------------------------------------------*/
/*-------------------------------------------------底部控制v-------------------------------------------------------*/
.advancedsearch_control > button {
    width: 95px;
    height: 30px;
    line-height: normal;
    margin: 10px 16px 0 16px;
    border: 1px solid #dedede;
    border-radius: 5px;
}

/*-------------------------------------------------底部控制^-------------------------------------------------------*/
/*-----------------------px--------------------------内容条v---------------------------------------------------------*/
.advancedsearch_content_row {
    width: 100%;
    height:34px;
    letter-spacing: -4px;
    margin-bottom: 10px;
}
.advancedsearch_content_row >div{
    height:100%;
    display: inline-block;
    vertical-align: top;
    border:0;
    letter-spacing: normal;
    line-height: 34px;
}
.advancedsearch_content_row .advancedsearch_content_row_left{
    width:calc(100% - 17px - 60% - 16px);
    margin-right: 16px;
}
.advancedsearch_content_row .advancedsearch_content_row_right{
    width:calc(100% - 17px - 40%);
}
.advancedsearch_content_row_close{
    width:34px;
    height:34px;
    color: #0C0C0C;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}
.advancedsearch_content_row input{
    width:100%;
    height:34px;
    padding-left:5px;
    padding-right:5px;
    border:1px solid #d2d2d2;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.advancedsearch_content_row dl{
    width:100%;
    max-height:200px;
    border-radius:2px;
    box-shadow: 0 2px 4px rgba(0,0,0,.12);
    overflow-x: hidden;
    overflow-y: auto;
    margin:0;
    border:1px solid #d2d2d2;
    position: relative;
    top:0;
    left:0;
    z-index: 500;
    background-color: #fff;
    display: none;
}
.advancedsearch_content_row dd{
    margin-left:0;
    padding-left:10px;
    height:34px;
    line-height: 34px;
    cursor: pointer;

}
/*date input*/
.advancedsearch_content_row_right_box{
    width:100%;
    height:100%;
}
.advancedsearch_content_row_right_box input{
    vertical-align: top;
    width:calc(50% - 10px);
}
.advancedsearch_content_row_right_box span{
    width:20px;
    overflow: hidden;
    display: inline-block;
    text-align: center;
}
.advancedsearch_content_row input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.advancedsearch_content_row dd:hover{
    background-color: #5FB878;
}

/*-------------------------------------------------内容条^---------------------------------------------------------*/